################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
binaries/
coverage/
dist/
node_modules/

*.user
*.lscache
msbuild.binlog
package-lock.json
acg.js
acg.d.ts
