################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
binaries/
dist/
node_modules/

*.user
msbuild.binlog
package-lock.json
